@font-face {
  font-family: "PTSans";
  src: url(PTSans-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "PTSans";
  src: url(PTSans-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: url(PTSans-Italic.ttf) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "PTSans";
  src: url(PTSans-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
